.inner {
  width: 100%;
  padding: 8rem 10px 4rem;
}

.category-manager {
  margin-bottom: 20px;
}

.category-manager h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.category-manager form {
  display: flex;
  margin-bottom: 10px;
}

.category-manager input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

.category-manager button {
  padding: 5px 10px;
}

.category-manager ul {
  list-style-type: none;
  padding: 0;
}

.category-manager li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.category-manager li input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

.category-manager li button {
  padding: 5px 10px;
}
